spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blog?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driverClassName: com.mysql.cj.jdbc.Driver
    druid:
      # 初始化大小，最小，最大
      initial-size: 5
      max-active: 20
      min-idle: 5
      max-wait: 60000 # 配置获取连接等待超时的时间
      validation-query: SELECT 1 # 验证连接
      validation-query-timeout: 2000

  ### 让404抛出NoHandlerFoundException
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false
  ### 邮箱配置
  mail:
    host: smtp.qq.com
    port: 25
    username: 1340420560@qq.com
    password: jkwvtrefqugoibeh
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

swagger:
  basePackage: com.mtli.controller
  title: blogAPI
  description: none
  version: V1.0


mybatis:
  ### 数据库模型对象
  type-aliases-package: com.mtli.model.pojo
  mapper-locations: mapper/*.xml
  ### 打印sql
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    org.springframework.security: info
    root: info
  path: e:/log/blog-backend-log